* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  transition: 0.6s;
}

.display-1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

#quote-box {
  padding: 40px 20px;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #0003;
}

#text {
  font-size: 18px;
  font-weight: 500;
}

#author {
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  text-align: right;
}

.action {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#tweet-quote,
#new-quote {
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
